<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SGM_Student_Information.Properties.Settings.Student_DetailsConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Student_Details;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>